#topo{
    background-color: #0375b4;
    color: whitesmoke;
}

#foto-perfil{
    max-width: 80%;
}

#foto-nome{
  margin: auto;  
}

#apres-left{
    object-fit: contain;
    padding: 1%;
}

#apres-right{
    margin: auto;
    display: flex;
}

.skill {
    color: black;
    margin: 2px;
}

footer {
    color: black;
    font-size: small;
    ;margin: 2px;
}


/* ama
#ffce00
az
#0375b4
verde
#007849
#preto
262228 */